[run]
omit =
    # files to omit from coverage. should be sample files etc
    */version.py
    */example.py
    */init.py

[report]
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.
